/* Jaunums.css */

/* Containeris */
.informacijas-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px;
  }
  
  /* info karte */
  .informacijas-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100%; 
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  /*image */
  .informacijas-card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #e0e0e0;
  }
  
  /* details */
  .informacijas-card-details {
    padding: 20px;
  }
  
  /* title */
  .informacijas-card-details h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333333;
  }
  
  /* description */
  .informacijas-card-details p {
    color: #000000;
    font-size: 1rem;
    line-height: 1.5;
  }

  /*hoveris*/
  .informacijas-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  