/* Container */
.pasakumi-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 10rem 0;
}

/* augšējo bilžu container */
.pasakumi-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* mazās bildes */
.latest-small-pasakums .pasakums-card-img {
  height: 125px;
  object-fit: cover;
  border-bottom: 1px solid #e0e0e0;
}

/* Kreisās puses lielais pasākums */
.pasakumi-left {
  flex: 2;
  margin-right: 16px;
}
/* Lielais pasākums */
.latest-pasakums {
  height: 600px;
}

/* Labās puses mazies stacked pasākumi */
.pasakumi-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* Mazie pasākumi */
.latest-small-pasakums {
  height: 290px;
}

/* pārējie pasākumi apakšā */
.pasakumi-under {
  display: flex;
}

/* Individual event card */
.pasakums-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 100%;
  margin: 10px;
}

/* pasākuma Image */
.pasakums-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.pasakums-card-img-large {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* Apraksts */
.pasakums-card-details {
  padding: 20px;
}
.pasakums-card-details p {
  color: #000000;
  font-size: 1rem;
  line-height: 1.5;
}

/* Nosaukums */
.pasakums-card-details h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333333;
}

.pasakums-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
