.pasakumi-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 10rem;
}

.pasakumi-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pasakumi-left {
  flex: 2;
  margin-right: 16px;
}

.pasakumi-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.latest-pasakums {
  height: 600px;
}

.latest-small-pasakums {
  height: 290px;
}

.pasakums-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.pasakums-card-img-large {
  width: 100%;
  object-fit: cover;
}

.pasakums-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.pasakums-card-details {
  padding: 10px;
}

.pasakums-card h3 {
  margin: 0;
}

.pasakums-card p {
  margin-top: 8px;
}

.pasakums-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.pasakumi-under {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  gap: 20px;
}

.category-filter select,
.date-picker input,
.search-bar input {
  width: 180px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-bar {
  flex-grow: 1;
  min-width: 200px;
}

.search-bar input {
  width: 100%;
}

.pasakums-card-details p {
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
}

.pasakums-card-details h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}
