* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 2rem auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5rem;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition-duration: 0.2s;
}

.gallery__img:hover {
    transform: scale(1.01);
    filter: brightness(1.05);
}

.gallery__item--1 {
    grid-column: 1 / span 7;
    grid-row: 1 / span 5;
}

.gallery__item--2 {
    grid-column: 8 / span 4;
    grid-row: 1 / span 3;
}

.gallery__item--3 {
    grid-column: 8 / span 2;
    grid-row: 4 / span 2;
}

.gallery__item--4 {

    grid-column: 10 / span 2;
    grid-row: 4 / span 2;
}

.storeSortingButton {
    margin-left: 11rem;
}

.storeItems {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.main-page-cover {
    background-image: url("../img/sparniCover.png");
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-y;
}
